* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.container{
  height: 160vh;
  width: 100vw;
  display: flex;
  padding: 1px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid white;
  background-color: #f6f6f6;
  }
  .logo{
  margin: 0 auto;
  }
  .hi{
  width: fit-content;
  font-family: Inter;
  font-size:small;
  letter-spacing: 1px;
  font-style: normal;
  text-align: left;
  color: #000;
  
  }
  #p1 {
  text-indent: 3em; 
  font-size:small;
  }
  .p2{
  padding-top: 20px;
  padding-left: 20px;
  font-size:small;
  }

.chartCard-1,.chartCard-2 {
 /* height: calc(100vh - 40px);*/
 height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.chartBox-1,.chartBox-2 {
  width: 500px;
  height: 300px;
  padding: 20px;
  padding-bottom: 70px;
  background: white;

}
.regards{
 padding-right: 26%;
  font-size:small;
  line-height: 1.79;
  letter-spacing: 0.6px;
  font-size: 15px;
  width: fit-content;
}
@media only screen and (max-width:700px){
  .container{
    height: fit-content;
  }
  .chartCard-1,.chartCard-2 {
    height: 30% ;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .chartBox-1,.chartBox-2{
    width: 90%;
    height: 290px;
    padding: 20px;
  }
  .regards{
    padding-right: 30%;
  }
}
@media only screen and (max-width:400px){
  .container{
    height: fit-content;
  }
  .chartCard-1,.chartCard-2 {
    height: 30%;
    width: 80%;
  }
  .chartBox-1,.chartBox-2{
    width: 80%;
    height: 250px;
    padding: 20px;
  }
  .regards{
    padding-right: 60%;
  }
}
@media only screen and (max-width:300px){
  .container{
    height: fit-content;
  }
  .logo{
    margin: 0 auto;
  }
  .chartCard-1,.chartCard-2 {
    height: 280px;
    }
    .chartBox-1,.chartBox-2{
    width: 200px;
    height: 250px;
    padding: 20px;
  }
  .regards{
    padding-right: 90%;
  }
}

