* {
  margin: 0;
  padding: 0;
}

.container{

width: clamp(12em,90%,60em);
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;
margin: 0 auto;
padding: 2em;
border: 1px solid white;
background-color: #f6f6f6;
}
.logo{
margin: 0 auto;
}
.hi{
font-family: Inter;
font-size: medium;
letter-spacing: 1px;
font-style: normal;
text-align: left;
color: #000;

}
#p1 {
text-indent: 3em; 
}
.p2{
padding-top: 30px;
padding-left: 30px;
}
.box-1, .box-2{
border: 30px;
border: 1px solid white;
background-color: white ;
}
.regards{
padding-right: 450px;
line-height: 1.79;
letter-spacing: 0.6px;
font-size: 15px;
}
@media screen and (min-width: 768px){
  *{
    font-family: 'Inter', sans-serif;
    padding: 0;
    margin: 0;
  }
  .container{
    width: clamp(12em,60%,60em);
  }
  .box-1,.box-2{
    width: fit-content;
    height: 90%;
  }
}

@media screen and (max-width: 400px){
*{
  font-family: 'Inter', sans-serif;
  padding: 0;
  margin: 0;
}
.container{
  height: 1000px;
  width: 300px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;

}
.logo{
  margin: 0 auto;
}
.hi{
   font-size: medium;
}
.box-1,.box-2{
  width: 95%;
  height: auto;
}
}